name: jcloud Release

on:
  release:
    types: [published]
jobs:
  upload:
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Login streamnative docker hub
        run: docker login -u="${{ secrets.DOCKER_USER }}" -p="${{ secrets.DOCKER_PASSWORD }}"

      - name: build
        run: |
          version=`./scripts/get-version.sh`
          mvn clean install -DskipTests
          rm -rf pulsar-*
          cp ./target/pulsar-io-cloud-storage-${version}.nar ./
          cp README.md ./pulsar-io-cloud-storage-readme.md
          echo "ls pulsar-*"
          ls pulsar-*
          echo "::set-output name=nar-file::pulsar-io-cloud-storage-${version}.nar"
          echo "::set-output name=readme-file::pulsar-io-cloud-storage-readme.md"

      - name: publish nar package
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.args.outputs.nar-file }}
          tag: ${{ github.ref }}
          overwrite: true
      - name: publish readme
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.args.outputs.readme-file }}
          tag: ${{ github.ref }}
          overwrite: true

      - name: build and push docker image
        run: |
          PULSAR_VERSION=`./scripts/get-version.sh`
          REPO=`mvn -q -Dexec.executable=echo -Dexec.args='${project.artifactId}' --non-recursive exec:exec 2>/dev/null`
          IMAGE_REPO=streamnative/${REPO}
          docker build --build-arg PULSAR_VERSION="$PULSAR_VERSION" -t ${IMAGE_REPO}:${PULSAR_VERSION} -f ./image/Dockerfile ./
          docker push ${IMAGE_REPO}:${PULSAR_VERSION}
