name: jcloud Release

on:
  release:
    types: [published]
jobs:
  upload:
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Login streamnative docker hub
      run: docker login -u="${{ secrets.DOCKER_USER }}" -p="${{ secrets.DOCKER_PASSWORD
        }}"

      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    - name: build
      run: |
        version=`./scripts/get-version.sh`
        mvn clean install -DskipTests
        echo "::set-output name=nar-file::pulsar-io-cloud-storage-${version}.nar"
        echo "::set-output name=readme-file::pulsar-io-cloud-storage-readme.md"

      env:
        CLOUDSMITH_USERNAME: ${{ secrets.CLOUDSMITH_USERNAME }}
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    - name: build and push docker image
      uses: nick-invision/retry@v2
      with:
        max_attempts: 99
        retry_wait_seconds: 60
        timeout_minutes: 5
        command: |
          CONNECTOR_VERSION=`./scripts/get-version.sh`
          PULSAR_VERSION=`mvn -q -Dexec.executable=echo -Dexec.args='${pulsar.version}' --non-recursive exec:exec 2>/dev/null`
          REPO=`mvn -q -Dexec.executable=echo -Dexec.args='${project.artifactId}' --non-recursive exec:exec 2>/dev/null`
          IMAGE_REPO=streamnative/${REPO}
          RUNNER_IMAGE=streamnative/pulsar-functions-java-runner:${PULSAR_VERSION}
          docker pull ${RUNNER_IMAGE}
          docker build --build-arg PULSAR_VERSION="$PULSAR_VERSION" -t ${IMAGE_REPO}:${CONNECTOR_VERSION} -f ./image/Dockerfile ./
          docker push ${IMAGE_REPO}:${CONNECTOR_VERSION}
